/*Simplificar propiedades o codigos que se repiten muchas veces*/
/*@mixin flex($flexDirection, $alignItems, $justifyContent){
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justifyContent;
    align-items: $alignItems;
}*/
//@include flex(column, center, center) 