footer{
    display: flex;
    background-color: black;

    a{
        text-decoration: none; 
        color: white; 
        margin: 20px;
    }
    img{
        width: 40px;
        height: auto; 
        margin: 0 10px;
    }
}

